main {
  .container {
    @include container-center;
    margin-top: 80px;

    .question {
      margin-bottom: 60px;
      h2 {
        color: $title-clr;
        font-weight: 500;
        margin-bottom: 20px;
      }

      p {
        color: $paragraph-clr;
        font-size: 14px;
        padding-top: 20px;
        line-height: 24px;
      }

      ol {
        font-size: 14px;
        margin-left: 16px;
        li {
          color: $paragraph-clr;
          line-height: 24px;
          padding-top: 12px;
          ol {
            margin-left: 16px;
          }
        }
      }

      h3 {
        margin-top: 50px;
        color: $title-clr;
        font-weight: 500;
      }
    }
  }
}
