footer {
  height: 60px;
  background-color: $footer-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  ul {
    list-style: none;
    display: flex;
    li {
      font-size: 11px;
      a {
        @include a-style($footer-clr);
      }
    }

    li:not(:first-child):before {
      content: "\0000b7";
      padding: 0 5px;
    }
  }

  div {
    display: flex;
    align-items: center;
    select {
      width: 170px;
      margin-left: 10px;
    }
  }
}
